html {
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-attachment: fixed;
    background-size: cover;
}

.new-post-button {
    position: fixed;
    bottom: 50px; /* Adjusted for no footer */
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    color: black;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    z-index: 1000;
}

.new-post-button:hover {
    transform: translateX(-50%) scale(1.2);
}

.post-card {
    margin-bottom: 20px;
    box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.3);
    position: relative;
    border-radius: 10px;
}

.modal-header, .modal-footer {
    display: flex;
    justify-content: space-between;
}

.post-card + .post-card {
    margin-top: 20px;
    box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.3);
}

.search-bar {
    width: 100%;
    margin-bottom: 20px;
}

.welcome-card {
    margin-bottom: 20px;
    box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.nav-card, .most-liked-card {
    margin-bottom: 20px;
    box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.nav-card {
    position: -webkit-sticky; 
    position: sticky;
    top: 100px;
    left: 150px; 
    width: 260px; 
    height: auto; 
    z-index: 1000; 
}

.most-liked-card {
    position: -webkit-sticky; 
    position: sticky;
    top: 100px; 
    right: 150px; 
    width: 260px; 
    height: auto; 
    z-index: 1000; 
}

.close {
    cursor: pointer;
}

.post-username {
    font-weight: bold;
}

.post-tags {
    font-size: 0.9em;
    color: #666;
}

.post-date {
    font-size: 0.9em;
    color: #666;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Styles for the buttons */
.edit-button {
    background-color: #00bf72;
    color: white;
    border: none;
}

.edit-button:hover,
.edit-button:focus,
.edit-button:active {
    background-color: #00976b;
    color: white;
}

.comment-button {
    background-color: #008793;
    color: white;
    border: none;
}

.comment-button:hover,
.comment-button:focus,
.comment-button:active {
    background-color: #006b68;
    color: white;
}

.comments-button {
    background-color:#004d7a;
    border: none;
}

.comments-button:hover {
    background-color: #003a53;
    color: white;
}

.like-button {
    background-color: #a8eb12;
    color: white;
    border: none;
}

.like-button:hover,
.like-button:focus,
.like-button:active {
    background-color: #85d900;
    color: white;
}

.unlike-button {
    background-color: #f44336;
    color: white;
    border: none;
}

.unlike-button:hover,
.unlike-button:focus,
.unlike-button:active {
    background-color: #d32f2f;
    color: white;
}

.footer {
    background-color: #1f324c; 
    color: white;
    padding: 10px 0; 
    z-index: 1;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer h5 {
    margin-bottom: 10px;
}

.footer img {
    max-height: 30px; 
    width: auto;
}